@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    position: relative;
    background-color: #eef6fa;
    font-family: "Raleway", sans-serif;
    color:#151615;
}
/* scrollbar */

body {
  --sb-track-color: #eef6fa;
  --sb-thumb-color: #2924b2;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}


/* All */
button:focus {
    outline: none;
}
button:hover {
    color: rgb(41, 47, 46);    
}
a:focus {
    color: rgb(41, 47, 46);    
}
img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
h1 {
    text-transform: uppercase;
}
section {
    width: 100vw;
    height: 100%;
}
div {
    overflow: hidden;
}
h2, h3, .titrePage {
    color: #151515;
    cursor: default;
}
h2 {
    margin-top: .5rem;
}
.sectionTitle {
    cursor: default;
    color: #2924b2;
}
a {
    color: #2924b2;
}
.separateur {
    width: 80%;
    height: 1px;
    background-color: #4A90E2;
    margin: .6rem 0;
}
.sectionTitle {
    font-size: 2em;
    margin: 2rem 0;
}
.HTML, .AI, .CSS1, .CSS2, .CSS3, .CSS4, .JAVASCRIPT, .API, .left, .right {
    padding: 0 2rem;
}
.a {
    position: relative;
    overflow: hidden;
}
.a::after {
    content: '';
    position: absolute;
    left: 2rem;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #2924b2;
    transition: width .3s ease-in-out;
}
.a:hover::after {
    width: 90%;
}
.firstAnchor:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}
/* Fin all */

/* Header */
.btnMenu {
    position: fixed;
    top: 1rem;
    right: 2.5rem;
    font-size: 2em;
    font-weight: 600;
    fill: #2924b2;
    padding: .4rem;
    background-color: transparent;
    border: none;
    z-index: 400;
    cursor: pointer;
}


header {
    position: fixed;
    width: 100vw;
    height: 8vh;
    padding-right: 1rem;
    padding-left: 3rem;
    background-color: #2924b2;
    z-index: 1000;
    visibility: hidden;
    box-shadow: 1px 2px 8px -1px #2924b269;
}
header, nav, .ul-nav, .li-nav {
    overflow: visible;
}
header, nav, .ul-nav, .li-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titrePage, .li-nav a {
    color: #eef6fa;    
}

.titrePage {
    cursor: pointer;
}
.li-nav a {
    font-weight: 600;
    margin: 1.2rem 1rem;
}
.ul-nav {
    position: relative;
}
.sous-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    width: auto;
    height: auto;
    margin: 0 auto;
    text-align: left;
    padding: .4rem;
    background-color: #2924b2;
    z-index: 333;
    display: none;
}
.li-nav:hover .sous-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.li-sousMenu { 
    margin: .3rem 0;
}
.li-sousMenu a { 
    font-weight: 500;
    transition: all 0.5s ease;
}
.li-sousMenu a:hover {
    padding-left: 10px;
    border-left: 1px solid #eef6fa;
    transition: all 0.3s ease;
}
/* Fin Header */

/* Section 1 */
.section1 {
    height: 80vh;
    display: grid;
    grid:
      "title title" 25%
      "HTML AI" 75%
      / 1fr 1fr;
}
.title { 
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;
    margin: 0 2rem;
}
.HTML { grid-area: HTML; }
.AI { grid-area: AI; }
/* Fin section 1 */

/* Section 2 */
.section1 {
    display: grid;
    grid:
      "title title" 25%
      "HTML AI" 75%
      / 1fr 1fr;
}
.CSSGenerator {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid:
      "title title" 15%
      "CSS1 CSS2" 85%
      / 1fr 1fr;
}
.sectionLi {
    padding: .5rem 0;
}
.container {
    display: grid;
    grid:
      "CSS3 CSS4" 1fr
      / 50% 50%;
}
/* Fin section 2 */

/* Section 3 */
.containerJS {
    display: grid;
    grid:
        "JAVASCRIPT API" 1fr
        / 50% 50%;
}
.JAVASCRIPT { grid-area: JAVASCRIPT; }
.API { grid-area: API; }
/* Fin section 3 */

/* Section 4 */
.container4 {
    display: grid;
    grid:
      "left right" 1fr
      / 50% 50%;
}
.left { grid-area: left; }
.right { grid-area: right; }
/* Fin section 4 */

.boxform {
    width:  100vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}
.containerForm {
    width:  100vw;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10vw;
}
form, .boxFieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: "New Amsterdam", sans-serif;
}
.boxFieldset {
    padding: 2rem;
    border: 2px solid #2924b2;
    border-radius: 10px;
    background: #eaebf693;
    box-shadow:  16px 16px 32px #c9cad4b5, -16px -16px 32px #ffffffb5;
}
.boxLegend {
    font-size: larger;
}
.labelFieldset {
    margin-right: 3%;
    width: 50%;
    border: #c9cad4;
    overflow: visible;
}
.cssInput, .cssButton {
    height: 20%;    
}
.cssTextarea {
    height: 70%;
    resize: none;
}
.cssInput, .cssTextarea {
    font-weight: 200;
    padding: .5rem;
    width: 100%;
    border: none;
}
.cssInput:focus, .cssTextarea:focus {
    outline: none;
}
.cssInput:hover, .cssTextarea:hover {
    animation: slide-fwd-center .2s ease-in-out both;
}
@keyframes slide-fwd-center {
    0% {
        transform: translateX(0) translateY(0) translateZ(0);

    }
    100% {
        transform: translateX(-5px) translateY(-5px) translateZ(160px);

    }
}
.cssButton {
    width: 50%;
    cursor: pointer;
    font-size: larger;
    color: #2924b2;
    border: 2px solid #2924b2;
    transition: all 0.3s ease;
    position: relative;
}
.cssButton {
    display: inline-block;
    outline: none;
    z-index: 0;
    overflow: hidden;
}
.cssButton:hover {
    color: #fff;
}
.cssButton:hover:after {
    width: 100%;
}
.cssButton:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #2924b2;
}
.cssInput, .cssTextarea, .cssButton {
    font-family: "New Amsterdam", sans-serif;
    margin: 1rem;
    border-radius: 6px;
    background: #eaebf6;
    box-shadow:  12px 12px 25px #c9cad4, -12px -12px 25px #ffffff;
}
legend {
    color: #2924b2;
}
.legendSpan {
    margin-left: 1rem;
}
::placeholder {
    color: transparent;
}

/* footer */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .4rem 0;
}