@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

:root {
  --color-bg: #DCEBFE;
  --color-primary: #2924b2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  position: relative;
  background-color: var(--color-bg);
  font-family: 'Raleway', sans-serif;
  color: #151615;
}

body {
  --sb-track-color: var(--color-bg);
  --sb-thumb-color: var(--color-primary);
  --sb-size: 14px;
}
body::-webkit-scrollbar {
  width: var(--sb-size);
}
body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}
body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}
@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color:  var(--sb-track-color);
  }
}
li, a {
  list-style: none;  
  text-decoration: none;
}

main {
  min-height: max-content;
}
/* ACCESSIBILITY */
section, div, .a {
  overflow: hidden;
}
button:focus {
  outline: 2px solid transparent;
}
button:hover {
  color: rgb(41, 47, 46);
}
a:focus {
  color: rgb(41, 47, 46);
}
h1, h2 {
  text-transform: uppercase;
}
section {
  width: 100vw;
  height: 100%;
}
h3 {
  width: max-content;
  position: relative;
  scroll-margin-top: 8vh;
  padding: 2vh 0 4vh 0;
}
h3::after {
  position: absolute;
  content: "";
  bottom: 2vh;
  left: 0;
  background-color: var(--color-primary);
  height: 2px;
  width: 100%;
}
h3, .titrePage {
  color: #151515;
  cursor: default;
}
ul {
  padding-bottom: 4vh;
}
.sectionTitle {
  cursor: default;
  color: var(--color-primary);
  font-size: 2em;
  padding: 2vh 0;
}
a {
  color: var(--color-primary);
}
/* WEBSITES LINKS */
.a {
  position: relative;
}
.a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 0.3s ease-in-out;
}
.a:hover::after {
  width: 90%;
}
.firstAnchor:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
/* END ACCESSIBILITY */

/* HEADER */
.btnMenu {
  position: fixed;
  top: 1rem;
  right: 2.5rem;
  font-size: 2em;
  font-weight: 600;
  fill: var(--color-primary);
  padding: 0.4rem;
  background-color: transparent;
  border: none;
  z-index: 400;
  cursor: pointer;
}
header {
  position: fixed;
  width: 100vw;
  height: 8vh;
  padding-right: 1rem;
  padding-left: 3rem;
  background-color: var(--color-primary);
  z-index: 1000;
  visibility: hidden;
  box-shadow: 1px 2px 8px -1px var(--color-primary)69;
}
header, nav, .ul-nav, .li-nav {
  overflow: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titrePage, .li-nav a {
  color: var(--color-bg);
  cursor: pointer;
}
.li-nav a {
  font-weight: 600;
  margin: 1.2rem 1rem;
}
.ul-nav {
  position: relative;
  padding: 0;
}
.sous-menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: auto;
  height: auto;
  margin: 0 auto;
  text-align: left;
  padding: 0.4rem;
  background-color: var(--color-primary);
  z-index: 333;
  display: none;
}
.li-nav:hover .sous-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.li-sousMenu {
  margin: 0.3rem 0;
}
.li-sousMenu a {
  font-weight: 500;
  transition: all 0.5s ease;
}
.li-sousMenu a:hover {
  padding-left: 10px;
  border-left: 1px solid #eef6fa;
  transition: all 0.3s ease;
}
/* END HEADER */

/* SECTION LAYOUT */
.padding-s {
  padding: 2vh 2rem;
}
.title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  padding: 0 2rem;
}

/* Section 1 */
.section1 {
  height: 80vh;
  display: grid;
  grid:
    'title title' auto
    'HTML AI' auto
    / 1fr 1fr;
}
.HTML {
  grid-area: HTML;
}
.AI {
  grid-area: AI;
}
/* Section 2 */
.section2 {
  display: flex;
  flex-direction: column;
}
.CSSGenerator {
  grid-area: CSSGenerator;
  min-height: 100vh;
  width: 100vw;
  height: max-content;
  display: grid;
  grid:
    'title title' auto
    'CSS1 CSS2' auto 
    / 1fr 1fr;
}
.CSSGenerator2 {
  grid-area: CSSGenerator2;
  min-height: 100vh;
  width: 100vw;
  height: max-content;
  display: grid;
  grid:
    'title title' auto
    'CSS3 CSS4' auto 
    / 1fr 1fr;
}
.sectionLi {
  padding: 0.8vh 0;
}
/* Section 3 */
.section3 {
  display: grid;
  grid:
    'title title' auto
    'containerJS containerJS' auto 
    / 1fr 1fr;
}
.JAVASCRIPT {
  grid-area: JAVASCRIPT;
}
.API {
  grid-area: API;
}
/* Section 4 */
.section4 {
  display: grid;
  grid:
    'title title' auto
    'left right' auto 
    / 1fr 1fr;
}
.left {
  grid-area: left;
}
.right {
  grid-area: right;
}

/* footer */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.4rem 0;
}
